/* === Desktop Styles === */
/* Group logo and hamburger */
.headerBar {
  width: 33%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  padding: 5px 10px 2px;
  margin: 10px 10px 10px;
  border-bottom: 1px solid #000;
  background-color: white;
  border-radius: 15px;

  justify-content: center;
  align-items: center;
  max-height: 100px;
}

.headerTitle {
  font-size: 24px;
  font-weight: bold;
  color: #005A9C;
}

.headerTitle a {
  text-decoration: none;
  color: black;
}

.headerTitle a:hover {
  text-decoration: underline;
}

.nav {
  margin-left: auto;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 6px;
  padding: 0;
  margin: 0;
}

.nav a {
  text-decoration: none;
  color: #005A9C;
  font-size: 18px;
  padding: 4px;
}

.nav a:hover {
  /* border: 3px solid #005A9C;  */
   font-weight: bold; 
   text-decoration: underline;
}

.logo {
  width: 100px;
  height: 85px;
}

.hamburgerWrapper {
  display: none; /* default hidden */
}

/* === Mobile Styles === */
@media (max-width: 1053px) {

    .nav a {
      font-size: 17.5px;
      padding: 5px;
    }

}

@media (max-width: 1008px) {

    .nav a {
      font-size: 17px;
      padding: 5px;
    }

}

@media (max-width: 985px) {

    .nav a {
      font-size: 16.5px;
      padding: 5px;
    }

}


@media (max-width: 768px) {
  /* Stack the header vertically */
  .headerBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
    max-height: none;
  }

  .hamburgerWrapper {
    display: block;
    margin-left: auto;
    padding: 10px;
  }

  .nav {
    display: none;
    width: 100%;
    padding: 10px 0;
    background-color: white;
  }

  .nav.open {
    display: block;
  }

  .nav ul {
    flex-direction: column;
    gap: 6px;
  }

  .nav li {
    padding: 4px 6px;
  }

  .nav a {
    font-size: 20px;
    padding: 4px;
    display: block;
    width: 100%;
  }

  .logo {
    width: 80px;
    height: auto;
  }
}


@media (max-width: 360px) {

}